<!-- @biisal -->
<!-- Jai Shree Krishna! 😗😎 -->
<!-- Before starting any editing, please enter your name after my name on the top line. ✨🤣 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bisal Files</title>
    <link rel="stylesheet" href="https://biisal.github.io/Resources/stylecdn.css">
    <link rel="stylesheet" href="https://biisal.github.io/Resources/playerCss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="main">
        <div class="btm-nav">
            <ul>
                <li onclick="scrollto(this ,'.download')">Download</li>
                <li onclick="scrollto(this ,'.top')">Watch Online</li>
                <li onclick="scrollto(this ,'.about')">Biisal</li>
            </ul>
        </div>
        <div class="inner-main">

            <div class="page page1">
                <div class="welcome">
                    <h1><span>🎭Jai Shree Krishna , </span>welcome To Here 🫠</h1>
                    <div class="file-name">
                        <p>File Name: {{file_name}}</p>
                    </div>
                    <p class="scroll">Scroll Down ↡</p>
                </div>
                <div class="download">
                    <h1>Watch Online <span><img
                                src="https://images.unsplash.com/photo-1617058998642-5ce6c139754b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt=""></span><span><img
                                src="https://images.unsplash.com/photo-1610918832140-e40d69d6b404?q=80&w=1977&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt=""></span><span><img
                                src="https://plus.unsplash.com/premium_photo-1683134105531-42032fc66937?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt=""></span> Or Download</h1>
                    <div class="buttons">
                        <button onclick="vlc_player()">VLC PLAYER</button>
                        <button onclick="mx_player()">MX Player</button>
                        <button onclick="playit_player()">PlayIt Player</button>
                        <button onclick="s_player()">S Player</button>
                        <button onclick="bisalDownload()">Download File</button>
                    </div>
                </div>
                <div class="dont-scroll">
                    <h3>Bro..Don't need to scroll more 😂Click the button below to watch your Video</h3>
                    <div class="buttons">
                        <button onclick="scrollto(this , '.top')">Click Here</button>

                    </div>
                </div>
            </div>
            <div class="page page2">
                <div class="top">
                    <video id="player" class="player" playsinline src="{{file_url}}" controls width="90%"></video>
                    <div class="file-name">
                        <p>File Name: {{file_name}}</p>
                    </div>
                    <div class="buttons">
                        <button onclick="bisalDownload()">Save File In Gallery</button>
                        <button onclick="window.location.href = 'https://telegram.me/bisal_files/3397'">My All
                            Tg. Channels</button>
                        <button onclick="window.location.href = 'https://telegram.me/bisal_files/3355'">My Bots
                            List</button>
                        <button onclick="scrollto(this , '.disclaimer' )">Disclamer</button>
                    </div>
                </div>

                <div class="disclaimer">
                    <div class="disc-inner">
                        <h3>Disclaimer: </h3>
                        <p>The streaming links provided on this website are generated ⚠️ automatically by users through
                            our
                            Telegram bot. We do not host, control, or endorse any of the content streamed through these
                            links. Users are solely responsible for the content they share, and we disclaim any
                            liability
                            for the legality, accuracy, or appropriateness of such content. Use discretion and adhere to
                            copyright laws when accessing streaming content through our platform.</p>
                    </div>
                </div>
            </div>
            <div class="page page3">
                <div class="about">
                    <h4>Jai Shree Krishna 🎭✨..welcome to seamless streaming meets innovation! Founded by Biisal, a
                        web developer fluent in JavaScript, Python, and React etc., our platform integrates Telegram
                        with cutting-edge web technology for effortless video streaming. While we prioritize user
                        experience, please note that we do not endorse or control the content streamed through our
                        platform. Join us for a curated streaming experience, powered by Biisal's expertise and your
                        entertainment preferences!</h4>
                    <div class="buttons">
                        <button onclick="scrollto(this , '.socials')">Follow Me</button>

                    </div>
                </div>
                <div class="socials">
                    <h2>Follow Karle bhai🫠</h2>
                    <div class="buttons">
                        <button onclick="window.location.href = 'https://telegram.me/bisal_files'">Telegram</button>
                        <button onclick="window.location.href = 'https://github.com/biisal'">Github</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
        integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
    <script>
        let shortner = 'omnifly.in.net'
        let api = '5bb6e402dd86fb8774690a5f4a65d2a2c0c04877'
        function runAnimation(el) {
            gsap.from(el, {
                scaleX: 0,
                y: "200",
                duration: 0.8,
                stagger: 0.4,
                opacity: 0,
            });
        }
        const removeClass = () => {
            const lis = document.querySelectorAll("ul li");
            for (const li of lis) {
                li.classList.remove("active");
            }
            return Array.from(lis);
        };

        const scrollto = (me, element) => {
            if (me.classList.contains("active")) return;
            if (me.tagName === "LI") {
                removeClass();
                me.classList.add("active");
            }
            document.querySelector(element).scrollIntoView({ behavior: "smooth" });
            if (element === ".top") {
                removeClass()[1].classList.add("active");
                runAnimation(".page2 .top video , .top .file-name , .top .buttons button");
            } else if (element === ".about") {
                removeClass()[2].classList.add("active");
                runAnimation(".about h4 , .about .buttons button");
            }
        };

        let tl = gsap.timeline();
        tl.from(".page1 .welcome, .page1 .file-name ", {
            y: "200",
            scaleX: 0,

            duration: 1,
            stagger: 0.4,
            opacity: 0,
        });
        tl.from(".scroll", { scale: 0 });
        tl.to(".scroll", {
            y: "15",
            duration: 1,
            repeat: -1,
            yoyo: true,
        });
        tl.from(".page1 .download h1, .page1 .buttons button ", {
            scaleX: 0.6,
            y: "200",
            duration: 1,
            stagger: 1,
            opacity: 0,
            scrollTrigger: {
                trigger: ".download .buttons",
                scroller: ".page1",
                start: "top 90%",
                end: "top 30%",
                scrub: 5,
            },
        });
        tl.from(".page1 .dont-scroll h3, .page1 .dont-scroll .buttons", {
            scaleX: 0,
            y: "200",
            duration: 2,
            stagger: 1,
            opacity: 0,
            scrollTrigger: {
                trigger: ".dont-scroll",
                scroller: ".page1",
                start: "top 60%",
                end: "top 0%",
                scrub: 2,
            },
        });
        gsap.from(".page2 .top", {
            scaleX: 0,
            y: "200",
            duration: 2,
            stagger: 1,
            opacity: 0,
        });
        tl.from(".disc-inner h3, .disc-inner p", {
            scaleX: 0.5,
            y: "200",
            duration: 0.8,
            stagger: 0.4,
            opacity: 0,
            scrollTrigger: {
                trigger: ".disc-inner",
                scroller: ".page2",
                start: "top 70%",
                end: "top 40%",
                scrub: 2,
            },
        });
        tl.from(".socials h2, .socials button", {
            scaleX: 0.5,
            y: "200",
            duration: 0.8,
            stagger: 0.4,
            opacity: 0,
            scrollTrigger: {
                trigger: ".socials .buttons",
                scroller: ".page3",
                start: "top 90%",
                end: "top 50%",
                scrub: 2,
            },
        });

        // video player
        const controls = [
            "play-large",
            "rewind",
            "play",
            "fast-forward",
            "progress",
            "current-time",
            "duration",
            // 'mute',
            // 'volume',
            "captions",
            "pip",
            "airplay",
            // "download",
            "fullscreen",
        ];
        document.addEventListener("DOMContentLoaded", () => {
            const player = Plyr.setup(".player", { controls });
        });

        // disabling right click
        document.addEventListener("contextmenu", function (e) {
            e.preventDefault();
        });
        document.addEventListener("keydown", function (e) {
            if (
                e.key === "F12" ||
                (e.ctrlKey && e.shiftKey && e.key === "I") ||
                (e.ctrlKey && e.key === "u") ||
                e.ctrlKey ||
                e.shiftKey ||
                e.altKey
            ) {
                e.preventDefault();
            }
        });

        const videolink = window.location.href;
        const bisallink = videolink.replace("/watch/", "/");

        function vlc_player() {
            const openbisallink = bisallink;
            const openVlc = `vlc://${openbisallink}`;
            window.location.href = openVlc;
        }

        function mx_player() {
            const openbisallink = bisallink;
            const openMx = `intent:${openbisallink}#Intent;package=com.mxtech.videoplayer.ad;end`;
            window.location.href = openMx;
        }

        function playit_player() {
            const openbisallink = bisallink;
            const openPlayit = `playit://playerv2/video?url=${openbisallink}`;
            window.location.href = openPlayit;
        }

        function s_player() {
            const openbisallink = bisallink;
            const openSplayer = `intent:${openbisallink}#Intent;action=com.young.simple.player.playback_online;package=com.young.simple.player;end`;
            window.location.href = openSplayer;
        }

        function km_player() {
            const openbisallink = bisallink;
            const openKmplayer = `intent:${openbisallink}#Intent;package=com.kmplayer;end`;
            window.location.href = openKmplayer;
        }

        function hd_player() {
            const openbisallink = bisallink;
            const openHDplayer = `intent:${openbisallink}#Intent;package=uplayer.video.player;end`;
            window.location.href = openHDplayer;
        }

        async function bisalDownload() {
            let res = await fetch(
                `https://${shortner}/api?api=${api}&url=${bisallink}`
            );
            res = await res.json();
            if (res.status === "success") {
                window.location.href = res.shortenedUrl;
            }
        }

    </script>

</html>
</body>
